{% extends "users/base.html" %}
{% block content %}
<div class="row" style="margin: 1%;">
    {% for p in products %}
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{p.product_image.url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ p.product_name }}</h5>
                    <p class="card-text">Price: {{p.price}}</p>
                    <p class="card-text">Material: {{p.material}}</p>
                    <p class="card-text">Category: {{p.category}}</p>
                    <p class="card-text">Brand: {{p.brand}}</p>
                    {% if user.user_type == "CUSTOMER" %}
                    <p class="card-text">Sold by: {{p.shop.shopname}}</p>
                    {% endif %}
                    {% if user.user_type == "SHOPUSER" %}
                    <div class=" h-100 d-flex align-items-center">
                        <form method="get" action="{% url 'users:updateproduct' %}">
                            <input name="product_id" type="hidden" value="{{p.id}}">
                            <button type='submit' class="btn btn-outline-primary me-3">Update</button>
                        </form>
                        <form method="get" action="{% url 'users:deleteproduct' %}">
                            <input name="product_id" type="hidden" value="{{p.id}}">
                            <button type='submit' class="btn btn-outline-danger me-3">Delete</button>
                        </form>
                    </div>
                    {% endif %}
                    {% if user.user_type == "CUSTOMER" %}
                    <div class=" h-100 d-flex align-items-center">
                        <form method="get" action="{% url 'users:updateproduct' %}">
                            <input name="product_id" type="hidden" value="{{p.id}}">
                            <button type='submit' class="btn btn-outline-primary me-3">Wishlist</button>
                        </form>
                        <form method="get" action="{% url 'users:deleteproduct' %}">
                            <input name="product_id" type="hidden" value="{{p.id}}">
                            <button type='submit' class="btn btn-outline-success me-3">Add to Cart</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
       {% if forloop.counter|divisibleby:4 %}</div><div class="row" style="margin: 1%;">{% endif %}  {# HERE #}
    {% endfor %}
</div>
{% endblock %}
